.main {
  padding: 1rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: seagreen;
  font-weight: 900;
}

.title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.ed_div {
  display: flex;
  flex-direction: column;
}

.ob_div {
  display: flex;
  flex-direction: column;
}

.subtitle {
    color: steelblue;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
