.btn {
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.25rem;
  box-shadow: 2px 2px 3px darkgray;
  font-size: 0.75rem;
  font-weight: 900;
  transition: 0.2s ease;
  font-family: 'Lato', sans-serif;
  align-self: center;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 5px white;
}


@media only screen and (max-width: 1024px) {
  .btn {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
}