.icon_btn {
    position: absolute;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    padding-bottom: 0.1rem;
    padding-left: .45rem;
    border: none;
}