.btn_play {
  background-image: var(--gradient-colors-2);
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-align: left;
  color: rgb(128, 214, 210);
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.btn_play:hover {
  box-shadow: 0px 1px 0px 0px lightseagreen;
  transform: scale(1.01);
  backdrop-filter: blur(0) saturate(0%);
  -webkit-backdrop-filter: blur(0) saturate(0%);
}

.btn_text {
  padding-left: 5px;
}

