.main {
    min-height: 85vh;
}

.header {
    font-size: 3rem;
    color: seagreen;
    margin: 1rem;
    text-align: center;
}

.where_to_go {
    margin: 4rem 0 1rem 0;
    color: seagreen;
    font-weight: 900;
}

.button_div {
    display: flex;
    justify-content: center;

}

.logout_button {
    margin-top: 1rem;
    text-align: center;
}

.welcome_header {
    font-size: 2rem;
    color: seagreen;
    font-family: arial;
    margin-bottom: 1rem;
}

.welcome_header_span {
    color: coral;
}