.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: seagreen;
    background-color: rgba(46, 139, 87, 0.8);
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal_inner_container {
  margin: 1rem auto;
  max-width: 75%;
}

.modal_header {
    font-size: 1.75rem;
    padding: 0.5rem;
    color: steelblue;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
}

.modal_title {
    font-size: 3rem;
    color: steelblue;
}

.modal_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: white;
}

.modal_footer {
    padding: 0.5rem;
    background-color: black;
}

.modalOpen {
    z-index: 5000;
}

.buttonPosition {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10%;
    background-color: red;
    color: white;
    border: none;
}

@media only screen and (max-width: 767px) {
    .modal_header {
        font-size: 1.5rem;
        height: 4rem;
    }

    .modal_inner_container {
        min-width: 95%;
    }
}