.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: lightseagreen;
  background-color: rgba(46, 139, 87, 0.8);
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.modal_inner_container {
  margin: 1rem auto;
  max-width: 75%;
  max-height: 95vh;
  overflow: auto;
}

.modal_inner_container::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
  height: 6px; /* Thin scrollbar height for horizontal scrollbar */
}

.modal_inner_container::-webkit-scrollbar-thumb {
  background-color: #333; /* Default scrollbar color */
  border-radius: 10px; /* Rounded edges */
}

.modal_inner_container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.modal_inner_container::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

.modal_header {
  padding: 0.5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
}

.modal_title {
  font-size: 1.25rem;
  color: lightseagreen;
}

.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 0 0;
  background: var(--gradient-colors);
}

.modal_footer {
  padding: 0.5rem;
  background-color: black;
}

.modalOpen {
  z-index: 5000;
}

.modal_button {
    font-size: 0.75rem;
    border: none;
    background: lightseagreen;
    border-radius: 5px;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.modal_button:hover {
    background: rgb(32, 178, 170, 0.8);
    cursor: pointer;
}

.buttonPosition {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  /* background-color: lightseagreen;
    color: white; */
  border: none;
}

@media only screen and (max-width: 767px) {
  .modal_inner_container {
    min-width: 95%;
    margin: 0.5rem auto auto auto;
  }

  .modal_header {
    padding: 0.25rem;
    height: 2.25rem;
  }

  .modal_title {
    font-size: 1rem;
    width: 90%;
  }
  .modal_button {
    font-size: 0.65rem;
  }
}
