.header_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.comments_h3 {
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 5px lightseagreen;
    letter-spacing: 0.1rem;
    margin: 1rem 0;

}

.comments_div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.addComment_div {
    margin: 1rem 0;
}

.comment_div {
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: block;
    text-align: left;
    margin: 0.5rem auto;
    width: 90%;
}

.comment_text {
    color: black;
    padding: 0.5rem;
}

.comment_author {
    background-color: rgb(43, 40, 40);
    color: white;
    text-align: start;
    padding: 0.5rem;
    margin-bottom: 0;
}

.delete_btn {
    position: absolute;
    cursor: pointer;
    top: -5px;
    right: -5px;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: 1px solid whites;
}