.header_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.comments_h3 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 5px lightseagreen;
  letter-spacing: 0.1rem;
  margin: 1rem 0.25rem 1rem 0;
}

.comments_div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.addComment_div {
  margin: 1rem 0;
}

.comment_div {
  position: relative;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin: 0.5rem auto;
  width: 90%;
}

.comment_header,
.comment_footer {
  background-color: rgb(43, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.comment_profile {
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5px;
}

.comment_text {
  color: black;
  padding: 0.5rem;
}

.podcaster_comment {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0.25rem;
  padding: 0.5rem 0;
}

.comment_author,
.comment_date {
  color: white;
  display: flex;
  align-items: center;
}

.footer_group,
.footer_subgroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.comment_icon {
  padding: 0.5rem 0;
}

.comment_count {
  color: white;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.additional_margin {
  margin-right: 2.5rem;
}

.confirmation {
  width: 50%;
  margin: auto;
  text-align: center;
}

.iconButton_icon_btn__Xd13 {
  padding: 0;
}
