.footer {
    background-color: rgb(41, 39, 39);
    color: lightgray;
    font-size: 0.75rem;
    min-height: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: flex-start;
}

.circle {
    background-color: seagreen;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 1rem;
}
