.container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: seagreen;
  color: white;
  font-family: "Fira", sans-serif;
  display: block;
}

.image {
  padding: 0.5rem;
}

.nav_items {
  display: flex;
  padding: 0.5rem;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.nav_item {
  color: white;
  letter-spacing: 0.06rem;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  margin: 0.5rem 1rem;
}

.active {
  padding-bottom: 0.25rem;
  border-bottom: 5px solid chartreuse;
}

