.rss_feed {
    color: white;
    margin: auto;
    padding-bottom: 1rem;
}

.rss_feed_header {
    text-align: center;
    font-size: 1.5rem;
}

.rss_feed_instructions_div {
    width: 25%;
    padding: 0.01rem 0.75rem;
    margin: auto;
    margin-bottom: 2rem;
    background-image: var(--gradient-colors-4);
    color: white;
    border-radius: 10px;
}

.rss_feed_table_note {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
}

.rss_feed_table_wrapper {
    background-color: black;
}

.rss_feed_table {
    color: white;
    margin: auto;
    background-image: var(--gradient-colors-2);
    border: white double 2px;
    border-radius: 10px;
    padding: 0.5rem;
}

.rss_feed_table_row {
    background: white;
    color: black;
    border: white solid 2px;
}

.rss_feed_table_col_header {
    padding: 0.5rem;
    text-align: left;
}

.rss_feed_table_col_header:nth-child(3) {
    text-align: center;
}

.rss_feed_table_row {
    border-bottom: white solid 2px;
}

.rss_feed_table_data {
    padding: 0.5rem;


}

.rss_feed_table_data:nth-child(3) {
    text-align: center;
}

.show_more_button_td {
    text-align: center;
    padding: 1rem 0;
}

.button_show_more {
    display: inline-block;
    margin: auto;
    background-color: transparent;
    color: rgba(32, 178, 170, 0.8);
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    border: 1px solid rgba(32, 178, 170, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 60px;
    transition: 0.3s ease-in-out;
}

.button_show_more:hover {
    background-color: rgba(32, 178, 170, 0.8);
    color: white;
    border: 1px solid rgba(32, 178, 170, 0.8);
    transform: translateY(-3px);
}

@media only screen and (max-width: 1200px) {
    .rss_feed_instructions_div {
      width: 50%;
    }  
    .rss_feed_instructions {
      font-size: 0.8rem;
    }  
  }

@media only screen and (max-width: 1000px) {
  .rss_feed_instructions_div {
    width: 70%;
  }  
  .rss_feed_instructions {
    font-size: 0.8rem;
  }  
}


@media only screen and (max-width: 767px) {
    .rss_feed_header {
        font-size: 1.25rem;
    }
    
    .rss_feed_table {
        font-size: 0.8rem;
        max-width: 95%;
    }

    .rss_feed_instructions_div {
        width: 85%;
    }

    .rss_feed_instructions {
        font-size: 0.8rem;
      }  

}

@media only screen and (max-width: 300px) {
    .rss_feed_table {
        font-size: 0.8rem;
        max-width: 98%;
    }

    .rss_feed_instructions_div {
        width: 88%;
    }

}