.main {
  padding: 1rem;
  font-family: I'Lato', sans-serif;
  text-align: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(45deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(11, 3, 45, 1) 100%);
  background-image: url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHRleHR1cmV8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;

}

.title {
  position: relative;
  font-size: 3rem;
  color: seagreen;
  text-transform: uppercase;
  font-family: 'Kanit';
  font-weight: 900;
  text-shadow: 1px 1px 2px whitesmoke;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  text-align: center;
  margin: auto;
  animation: typing 3s steps(30, end) 1;
}

@keyframes typing {
  from {
   
    width: 0%;
  }

  to {
   
    width: 100%;

  }
}


.subtitle {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0 0 3rem 0;
  padding: 0;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
 
}

.headers {
  display: flex;
  width: 100%;
}

.blankheader {
  width: 33.33%;
}

.subheader {
  color: white;
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Lato';
  font-weight: 900;
  animation: blinker 5s ease-in-out infinite;
  width: 66.66%;
}

.content_wrapper {
  display: flex;
  width: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  width: 66%;
  align-items: center;
  justify-self: start;
  padding-bottom: 2rem;
  animation: slideInFromRight 1s ease-in;
}

@keyframes blinker {
  50% {
    color: darkgray;
    letter-spacing: .5rem;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-1500px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(1500px);
  }

  to {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .player {
    width: 50%;
  }
  .subheader, .blankheader {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .title {
    margin-top: 3.75rem;
    animation: none;
    display: inline-flex;
    flex-wrap: wrap;
    white-space: normal;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
  }

  .container {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .content_wrapper {
    flex-direction: column;
  }

  .player {
    width: 100%;
    order: -1;
  }

  .blankheader {
    display: none;
  }

  .headers {
    justify-content: center;
  }

  .subheader {
    width: 100%;
    font-size: 1.25rem;
  }

}

