.main {
  padding: 1rem;
  font-family: I'Lato', sans-serif;
  text-align: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(45deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(11, 3, 45, 1) 100%);
  background-image: url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHRleHR1cmV8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  font-family: 'Kanit';
  font-weight: 900;
  text-shadow: 1px 1px 4px whitesmoke;
  color: seagreen;
}

.form_div {
  width: 100%;

}

.form {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group:nth-child(3) {
  margin-bottom: 1rem;
}

.form_label {
  margin-right: 0.25rem;
  margin-bottom: .25rem;
  letter-spacing: 3px;
  color: white;
}

.form_input,
.form_textarea {
  margin-left: 0.25rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.feedback_div {
  margin-top: 1rem;
  padding: 1rem;
}

.feedback_item {
  margin: 1rem auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  width: 50%;
  font-family: 'Lato', non-serif;
  font-weight: 400;

}


.feedback_name {
  color: steelblue;
}

.feedback_text {
  color: black;
}

.span {
  color: red;
}