.main {
  padding: 1rem;
  font-family: I'Lato', sans-serif;
  text-align: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(45deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(11, 3, 45, 1) 100%);
  background-image: url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHRleHR1cmV8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  font-family: 'Kanit';
  font-weight: 900;
  background-image: var(--gradient-colors);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 0;
}

.subtitle {
  color: whitesmoke;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  width: 25%;
  margin: auto;
  margin-bottom: 1.25rem;
  opacity: 0.7;
}

.form_div {
  width: 100%;
}

.feedback_div {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feedback_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', non-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(55, 55, 105, 0.4);
  border-radius: 4px;
  margin: 3rem;
  max-width: 15%;
  transform: rotate(5deg);
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 5px;
  color: white;
  animation: wiggleCardOdd 2s ease-in-out;
  transition: 0.3s ease;

}

.feedback_item:nth-child(even) {
  transform: rotate(-5deg);
  animation: wiggleCardEven 2s ease-in-out;
  transition: .3s ease;
}

.feedback_name {
  color: rgb(46, 42, 42);
}

.feedback_text {
  color: white;
}

.span {
  color: red;
}

.delete_button_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes wiggleCardOdd {
  0% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(8deg);
  }

  40% {
    transform: rotate(2deg);
  }

  60% {
    transform: rotate(7deg);
  }

  80% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes wiggleCardEven {
  0% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(-2deg);
  }

  60% {
    transform: rotate(-7deg);
  }

  80% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 1400px) {
  .main {
    padding: 1px;
    margin: auto;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .subtitle {
    margin-top: 1.5rem;
  }

  .feedback_item {
    max-width: 25%;
    margin: 1.75rem 0;
  }

  .feedback_div {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    padding: 1px;
    margin: auto;
  }
  .title {
    margin-bottom: 0;
  }
  .subtitle {
    width: 50%;
    margin-top: 0;
  }

  .feedback_item {
    max-width: 25%;
    margin: 1.75rem 1rem;
  }

  .feedback_div {
    margin: 0;
  }
}


@media only screen and (max-width: 767px) {
  .main {
    padding: 1px;
    margin: auto;
  }

  .title {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 0;
  }

  .subtitle {
    margin-top: 0;
    width: 75%;
  }

  .feedback_item {
    max-width: 50%;
    margin: 1.5rem 0;
  }

  .feedback_div {
    margin: 0;
  }


}