.episodeId_div {
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

.title {
  font-size: 2.75rem;
  text-transform: uppercase;
  font-weight: 900;
  color: seagreen;
  margin: 1rem 0;
}

.subheading_h3 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 5px lightseagreen;
  letter-spacing: 0.1rem;
}

.description {
  font-size: 2rem;
  margin: 2rem auto;
  width: 80%;
  line-height: 1.5;
}

.image_div {
  margin: 1rem 0;
}

.date_aired {
  margin: 1rem 0;
}

.form {
  display: block;
  margin: auto;
  align-items: center;
  width: 75%;
  padding: 0.25rem;
}

.form_group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_label {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.form_input {
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
}

.form_textarea {
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
}

.addComment_div {
  margin: 1rem 0;
}

.comment_div {
  position: relative;
  background-color: white;
  border-radius: 5px;
  display: block;
  text-align: left;
  margin: auto;
  width: 50%;
}

.comment_text {
  color: black;
  padding: 0.5rem;
}

.comment_author {
  background-color: rgb(43, 40, 40);
  color: white;
  text-align: start;
  padding: 0.5rem;
  margin-bottom: 0;
}

.comment_delete_btn {
  position: absolute;
  cursor: pointer;
  top: -5px;
  right: -5px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: 1px solid white;
}

.poll_div {
  background-color: steelblue;
  color: white;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  padding: .25rem 0;
  box-shadow: 3px 3px 8px white;
}

.poll_question {
  font-style: italic;
}

.poll_ul {
  list-style: none;
}

.poll_li {
  margin: 0.3rem 0;
}

.vote_count {
  margin-left: 1rem;
}