.episodeId_div {
  padding: 1rem;
  font-family: I'Lato', sans-serif;
  text-align: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(45deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(11, 3, 45, 1) 100%);
  background-image: url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHRleHR1cmV8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
}

.header_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid white;
  padding: 1rem;
  background-color: rgb(48, 46, 46, 0.8);
}

.header_card_content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: seagreen;
  text-shadow: 1px 1px white;
  margin: 0;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  color: white;
  text-align: left;
}

.date_aired {
  margin: 1rem 0;
  color: white;
}

.polls_and_comments_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.polls_div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.polls_h3 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 5px lightseagreen;
  letter-spacing: 0.1rem;
  margin: 1rem auto;
}

.delete_btn {
  position: absolute;
  cursor: pointer;
  top: -5px;
  right: -5px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: 1px solid whites;
}

.addPollButton_div {
  margin-bottom: 1rem;
}

.poll_div {
  position: relative;
  background-color: rgb(43, 40, 40);
  color: black;
  border-radius: 5px;
  width: 75%;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.poll_question {
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  text-shadow: 1px 1px whitesmoke;
  font-size: 1.1rem;
  background-color: lightsteelblue;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0;
}

.poll_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.poll_li {
  margin: 0.5rem 0;
}

.poll_li_results {
  margin: 0.5rem 0;
  text-align: left;
  line-height: 2rem;
  background-color: whitesmoke;
  padding: 0.25rem;
  font-size: 0.9rem;
  border-radius: 5px;
}

.vote_count {
  margin-left: 1rem;
}

.poll_option_bar {
  height: 1rem;
  margin-top: 0.5rem;
}
