.episodeId_div {
  padding: 0.5rem;
  background-color: black;
  color: white;
  padding-bottom: 5rem;
}

.header_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid white;
  padding: 1rem;
}

.header_card_content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: seagreen;
  text-shadow: 1px 1px white;
  margin: 0;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.date_aired {
  margin: 1rem 0;
}

.polls_and_comments_div {
  display: flex;
  width: 100%;
}

.polls_div,
.comments_div {
  display: block;
  width: 50%;
  text-align: center;
}

.form {
  display: block;
  margin: auto;
  align-items: center;
  width: 75%;
  padding: 0.25rem;
}

.form_group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_label {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.form_input {
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
}

.form_textarea {
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
}

.subheading_h3 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 5px lightseagreen;
  letter-spacing: 0.1rem;
  margin: 1rem auto;
}

.addComment_div {
  margin: 1rem 0;
}

.comment_div {
  position: relative;
  background-color: white;
  border-radius: 5px;
  display: block;
  text-align: left;
  margin: auto;
  width: 50%;
}

.comment_text {
  color: black;
  padding: 0.5rem;
}

.comment_author {
  background-color: rgb(43, 40, 40);
  color: white;
  text-align: start;
  padding: 0.5rem;
  margin-bottom: 0;
}

.delete_btn {
  position: absolute;
  cursor: pointer;
  top: -5px;
  right: -5px;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: 1px solid white;
}

.addPollButton_div {
  margin-bottom: 1rem;
}

.poll_div {
  position: relative;
  background-color: seagreen;
  color: white;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
 
}

.poll_question {
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  color: black;
  font-size: 1.1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0;
}

.poll_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.poll_li {
  margin: 0.5rem 0;
}

.poll_li_results {
  margin: 0.5rem 0;
  text-align: left;
  line-height: 2rem;
  background-color: black;
  padding: 0.25rem;
  font-size: 0.9rem;
  border-radius: 5px;
}

.vote_count {
  margin-left: 1rem;
}

.poll_option_bar {
  height: 1rem;
  margin-top: 0.5rem;
}
