.form_container {
  display: flex;
  justify-content: center;
}

.form {
  padding: 0 1rem;
  font-size: 1rem;
  width: 75%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_group {
  width: 95%;
}

.label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.input, .textarea, .datePicker {
  padding: 0 0.35rem;
  border-radius: 5px;
  margin: 0.25rem;
  width: 75%;
}

.input, .datePicker {
  height: 1.75rem;
}

.datePicker {
  margin-bottom: 1rem;
}


.upload_and_preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview {
  width: 30%;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.upload_button {
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 767px) {
  .form {
    width: 85%;
    padding: 0.25rem;
    margin: 0;
    align-items: center;
  }

  .label {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .input, .textarea, .datePicker {
    margin-top: 0.25rem;
    padding: 0rem 0.2rem;
    width: 95%;
    margin-bottom: 0.5rem;
  }
}