.form_container {
  display: flex;
  justify-content: center;
}

.form {
  padding: 1rem;
  font-size: 1rem;
  width: 75%;
  border: 2px solid seagreen;
  text-align: center;
  background-color: whitesmoke;
  color: seagreen;
  display: flex;
  flex-direction: column;
}

.form_header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: coral;
}

.form_group {
  width: 95%;
}

.label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.input, .textarea, .datepicker {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  width: 75%;
}

.input, .datePicker {
  height: 2.25rem;
}

.datePicker {
  margin-bottom: 1rem;
}




