.question_div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.question_input,
.option_input {
    margin: 1rem auto;
    width: 50%;
}

.question_input {
    width: 50%;
    padding: 0.25rem;
}

.option_div {
    display: flex;
    flex-direction: column;
}

.option_input {
    height: 1.5rem;
    padding: 0.25rem;
}

.option_label {
    margin-right: 5px;
}

.error_div {
    color: red;
    font-size: 1rem;
}

@media (max-width: 768px) {

    .form {
        margin: 0;
        padding: 0;
    }

    .question_div {
        margin: 0;
    }

    .question_input {
        margin: 5px auto 0 auto;
    }

    .option_div {
        margin: 0;
        padding: 0 5px;
    }

    .option_label {
        margin: 0 0 5px 0;
        padding: 0;
    }

    .option_input {
        margin: 0 auto;
        padding: 0;
    }

}