.delete_notification {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .delete_notification p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;
  }
  

